 geopandas
 rasterio
 mapclassify
 rasterstats
 shapely
 folium
 earthengine-api
 fiona
 ipyleaflet
 geemap
 scikit-learn
 geehydro
 pillow
 chart_studio
 pycountry
 ee
 seaborn
 cufflinks
 bar_chart_race